<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="MFoundationPkgFeed" value="https://pkgs.dev.azure.com/BSLMicroFramework/_packaging/MFoundationPkgFeed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
        <MFoundationPkgFeed>
            <add key="Username" value="BSLMicroFramework@kpitd365.onmicrosoft.com"/>
            <add key="ClearTextPassword" value="txi7rikogi4vx5wviske3jcmahm66cfpb4qgtvziam3wnrjgfdwq"/>
        </MFoundationPkgFeed>
    </packageSourceCredentials>
</configuration>